/* ~~~~~~~~~~~ GLOBAL RULES ~~~~~~~~~~ */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  height: 100%;
  overflow: scroll;
}

body {
  background-blend-mode: color-burn;
  background-color: rgb(255, 255, 255, 0.4);
  background-image: url('../images/backgroundimage.jpg');
  background-color: rgb(255, 255, 255, 0.4);
  padding: 3%;
}

.pink {
  color: #FC6F7F;
}

.orange {
  color: #FF9E2D;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  color: white;
  font-size: 0.9em;
}

button {
  background-color: #0C3245;
  border-radius: 100%;
  height: 9%;
  margin-top: 17%;
  width: 55%;
}

button img {
  height: 50%;
  max-width: 80%;
}

button:hover {
  background-color: #00BFCF;
  cursor: pointer;
}

/* ~~~~~~~~~~~ FLEX RULES ~~~~~~~~~~ */
body,
.sidebar,
.water,
.steps,
.sleep,
.friends,
.activity,
.today-data,
.user-info-card,
.user-data,
.step-goals,
.flights-of-stairs,
.minutes-active,
.info-type-box,
.calendar,
.sleep-hours,
.sleep-quality,
.sleep-data-box,
.sleep-card,
.today-data-sleep,
.step-miles {
  display: flex;
}

.sidebar,
.water,
.steps,
.sleep,
.activity,
.friends,
.today-data,
.user-data,
.info-type-box,
.sleep-hours,
.sleep-quality,
.today-data-sleep {
  flex-direction: column;

}

.sidebar,
.water,
.activity,
.steps,
.sleep,
.friends,
/* .today-data, */
.user-info-card,
.sleep-hours,
.sleep-quality,
.sleep-data-box,
.today-data-sleep {
  align-items: center;
}

.steps-miles {
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.widgets {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 200px;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  margin-left: 3%;

}

.activity,
.water,
.steps,
.sleep {
  grid-row: span 3;
}

.friends {
  justify-content: space-around;
}

.user-info-card,
.sleep-hours,
.sleep-quality,
.sleep-data-box {
  justify-content: space-evenly;
}

.step-goals,
.sleep-data-box,
.flights-of-stairs,
.minutes-active {
  text-align: center;
}

/* ~~~~~~~~~~~ DASHBOARD RULES ~~~~~~~~~~ */

.step-goals,
.flights-of-stairs,
.minutes-active,
.sleep-data-box,
.sleep-card {
  width: 100%;
}

.info-type-box,
.sleep-hours,
.sleep-quality {
  width: 50%;
}

.sleep-hours,
.sleep-quality {
  height: 100%;
}

.sidebar {
  padding: 2% 0;
  width: 11%;
}

.dashboard-cards {
  background-color: rgb(12, 50, 69, 0.75);
  border-radius: 30px;
  padding: 2%;
}

.widgets img {
  height: 17%;
  padding-bottom: 3%;
}

.water,
.steps,
.sleep,
.friends,
/* .today-data, */
.activity {
  align-content: center;
}

.today-data {
  align-items: center;
}

.user-info-card img {
  border-radius: 100%;
  max-width: 35%;
}

.user-data {
  overflow-wrap: break-word;
}

.email {
  font-size: 0.7em;
}

.today-data {
  height: 25%;
  margin-top: 2%;
}

.today-data p {
  font-size: 1.2em;
}

.step-goals,
.flights-of-stairs,
.minutes-active {
  height: 48%;
}

.info-text {
  font-size: 0.6em;
}

.border-right {
  border-right: 2px solid white;
  /* height: 50%; */
}

.border-right-half {
  border-right: 2px solid white;
  height: 50%;
}

.today-data-sleep {
  font-size: 1em;
}

.sleep-card {
  height: 45%;
  margin-top: 5%;
}

.info-text {
  margin-bottom: 5% 0;
}

.space-right {
  padding-right: 13%;
}

.space-top {
  margin-top: 7%;
}

.steps-miles {
  width: 80%;
}

@media screen and (min-width: 1990px) {
  .widgets {
    grid-template-columns: 1fr 1fr;
  }

}
