* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  height: 100%;
  border: 1px solid yellow;
  margin: 0;
  font-size: 25px;
}

body {
  border: 2px solid green;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  /* font-size: 25px; */
}

section,
h1,
h2 {
  border: 1px solid red;
}

.sidebar {
  width: 7%;
}

.dashboard-main {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.widgets {
  border: 1px solid blue;
  height: 75%;
  display: flex;
}

.widgets section {
  height: 40%;
}

.profile {
  width: 45%;
}